<h1> fgirst custom section</h1>


{% schema %}
  {
    "name": "slick-slider",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "presets" : [
      {
        "name": "Slick Slider"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}