<h1> fgirst custom section</h1>


{% schema %}
  {
    "name": "slick-slider",
    "settings": [],
    "presets" : [
      {
        "name" : "Slick Slider"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}