<h1>{{ section.settings.heading }}</h1>

<div class="custom--container">
  {% for block in section.blocks %}
    <div class="custom--container__slide">
      <h2 class="custom--container__title">{{ block.settings.title }}</h2>

      <div class="custom--container__image">
        <img
          width="100px" height="100px"
           src="{{ block.settings.image | image_url: 'master'}}"
        >
      </div>
      <p>TEXT ABOUT PHOTO</p>
    </div>
  {% endfor %}
</div>

<style>
  .customContainer {

  }
</style>

{% schema %}
{
    "name": "Team ONE",
    "tag": "section",
   
    "settings": [
         {
                    "type": "text",
                    "id": "heading",
                    "label": "Add a heading"
                }
    ],
    "max_blocks": 5,
    "blocks": [
        {
            "type": "lv426",
            "name": "slide",
            "settings": [

                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                    
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "teamOne"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
