<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>    
</div>
{% endif %}}



  

{% schema %}
  {
    "name": "team-members",
    "class" : "team-members-section",
    "settings": [
      {
      "id" : "title",
      "type": "text",
      "label": "Section Title",
      "default": "Our Team Members"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}