<h1>{{ section.settings.heading }}</h1>

<div class="custom--container">
  {% for block in section.blocks %}
  <div class="custom--container__slide">
    
    <h2 class="custom--container__title">{{ block.settings.title }}</h2>
    
    <div class="cusomt--container__image">
      
      <img width="" height=""
        src="{{ block.settings.image |img_url }}"   />
      
    </div>
    <p>TEXT ABOUT PHOTO</p>
  </div>
  {% endfor %}
</div>



<style>
  .customContainer {
    
  }
</style>





{% schema %}
  {
    "name": "Team ONE",
    "tag" : "section",
    "limit" : 1,
    "settings": [
      {
      "type": "text",
        "id" : "heading",
        "label": "Heading",
        "default" : "My Custom Heading"
    }
    ],
    "max_blocks": 5,
    "blocks" : [{
      "type" : "column",
      "name" : "content",
      	"settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
      
    }],
    "presets": [{
      "name": "teamOne"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}