<h1>{{ section.settings.heading }}</h1>
<div class="custom--container">
  
  <div class="custom--container__slide">
    
    <h2 class="custom--container__title">Photo label</h2>
    
    <div class="cusomt--container__image">
      
      <img width="" height=""
        src="{{ block.settings.image |img_url }}"   />
      
    </div>
    <p>TEXT ABOUT PHOTOT</p>
  </div>
</div>


<style>
  .customContainer {
    
  }
</style>





{% schema %}
  {
    "name": "Team ONE",
    "settings": [
      {
      "type": "text",
        "id" : "heading",
        "label": "Heading",
        "default" : " My Custom Heading"
    }
    ],
    "blocks" : [{
      "type" : "column",
      "name" : "slide",
      "settings" : [{
        "type": "text",
        "id": "title",
        "label" : "TITLE"
        
      }]
      
    }],
    "presets": [{
      "name": "teamOne"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}