<h1>{{ section.settings.heading }}</h1>

<div class="custom--container">
  {% for block in section.blocks %}
  <div class="custom--container__slide">
    
    <h2 class="custom--container__title">{{ block.settings.title }}</h2>
    
    <div class="cusomt--container__image">
      
      <img width="" height=""
        src="{{ block.settings.image |img_url }}"   />
      
    </div>
    <p>TEXT ABOUT PHOTO</p>
  </div>
  {% endfor %}
</div>



<style>
  .customContainer {
    
  }
</style>





{% schema %}
  {
    "name": "Team ONE",
    "limit" : 2,
    "settings": [
      {
      "type": "text",
        "id" : "heading",
        "label": "Heading",
        "default" : " My Custom Heading"
    }
    ],
    "max_blocks": 5,
    "blocks" : [{
      "type" : "image_picker",
      "name" : "slide",
      "settings" : [{
        "type": "text",
        "id": "title",
        "label" : "TITLE",
        "default" : "Add a title"
        
        
      }]
      
    }],
    "presets": [{
      "name": "teamOne"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}