<h1>My First Custom Section!</h1>

{% schema %}
  {
    "name": "Team ONE",
    "settings": [
      {
      "type": "text",
        "id" : "heading",
        "label": "Heading",
        "default" : " My Custom Heading"
    }
    ],
    "presets": [{
      "name": "teamOne"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}