<h1>My First Custom Section!</h1>

{% schema %}
  {
    "name": "Team ONE",
    "settings": [],
    "presets": [{
      "name": "teamOne"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}