<div class="page-width">

  {% if section.settings.title != blank %}
    <div class="section-header text-center">
     <h2>{{ section.settings.title | escape }}</h2>  
   
</div>
{% endif %}



  

{% schema %}
  {
    "name": "team-members",
    "class" : "team-members-section",
    "settings": [],
    "presets": [{
      "name": "Team Members"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}